*{
    padding: 0;
    margin:0;
    font-family: 'Josef Sans', sans-serif;
    box-sizing: border-box;
}
body{
    width: 100%;
}

.btn-primary{
    background-color: #f9004d;
    color: white;
    text-decoration: none; 
    border: 2pxd solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.btn-primary:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}